.tech-slider {
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
  position: relative;
}

.tech-slider::before,
.tech-slider::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.tech-slider::before {
  left: 30;
  background: linear-gradient(to right, var(--bg), transparent);
}

.tech-slider::after {
  right: 0;
  background: linear-gradient(to left, var(--bg), transparent);
}

.track {
  display: flex;
  align-items: center;
  width: max-content;
  animation: slide-left 30s linear infinite;
}

.tech-icon {
  font-size: 2.5rem;
  margin-right: 3rem;
  color: var(--text); /* branco */
  opacity: 1.0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tech-icon:hover {
  opacity: 1;
  transform: scale(1.15);
}

.tech-stack-header h2 {
  font-family: "Geist Mono", monospace;
}


@keyframes slide-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
