.cursor-dot {
  position: fixed;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  background: var(--cursor-color);

  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}
